<?xml version="1.0" encoding="utf-8"?>
<!-- The version and SDK levels are set by android/build.sh -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dsego.strobetuner">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.microphone" android:required="true" />
    <!-- SDL GPU draws with Vulkan, 1.0.3 -->
    <uses-feature android:name="android.hardware.vulkan.version" android:version="0x400003" android:required="true" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <!-- The native libraries are stored uncompressed and aligned in the .apk, loaded from there -->
    <application android:label="Strobie"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:extractNativeLibs="false"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
        android:enableOnBackInvokedCallback="false"
        android:hardwareAccelerated="true">

        <activity android:name=".StrobieActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:configChanges="layoutDirection|locale|grammaticalGender|fontScale|fontWeightAdjustment|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:preferMinimalPostProcessing="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
